body {
    background-color: #fefefe;
}
.wrapper {
    height: 1100px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgba(240, 248, 255,1);
    box-shadow: 0 0 90px rgba(0, 0, 0, 0.13);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.info {
    @media (max-width: 900px) {
        flex-direction: column;
        align-items: center;
    }
    width: 80%;
    height: 20%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    & .photo {
        @media (max-width: 900px) {
            width: 100%;
        }
        height: 100%;
        width: 43%;
        background: url("../portfolio/assets/images/27073032_121674565313644_4158535530429971680_n.jpg") center no-repeat;
        background-size: contain;
        filter: drop-shadow(10px 0 10px rgb(170, 170, 197));
    }
    & .text {
        @media (max-width: 900px) {
            width: 100%;
        }
        height: 100%;
        width: 55%;
        display: flex;
        flex-direction: column;
        align-items: center;
        & .name {
            width: 100%;
            height: 40%;
            & h1 {
                text-align: center;
                color: rgb(8, 49, 40);
                margin: 0;
                font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
                font-size: 48px;
                @media (max-width: 900px) {
                    font-size: 38px;
                }
                @media (max-width: 375px) {
                    font-size: 28px;
                }
            }

        }
        & .github {
            width: 100%;
            height: 26%;
            display: flex;
            align-items: center;
            @media (max-width: 900px) {
                width: 60%;
            }
            & .logo {
                width: 10%;
                height: 100%;
                background-image: url("../portfolio/assets/images/github-logo.svg");
                background-size: contain;
                background-repeat: no-repeat;
            }
            & a {
                margin-left: 20px;
                color: rgb(5, 5, 34);
                font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
                font-size: 24px;
                @media (max-width: 900px) {
                    font-size: 20px;
                }
                &:hover {
                    color: royalblue;
                    cursor: pointer;
                }
            }
        }
        & .social-networks {
            width: 100%;
            height: 30%;
        }
    }
}

.education {
    width: 80%;
    & p {
        & .btn-primary {
            @media (max-width: 900px) {
               width: 100%;
            }
            width: 43%;
            height: 50px;
            background-color: rgb(9, 9, 59);
            font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
            font-size: 28px;
        }
    }
}

.collapse, 
.collapsing {
    & .card, 
      .card-body {
        & .education-items {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            & .item {
                width: 48%;
                display: flex;
                justify-content: space-between;
                & .logo {
                    width: 30%;

                        background-image: url("../portfolio/assets/images/school.svg");
                    
                }
                & .text {
                    width: 65%;
                    & span {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

.projects {
    width: 80%;
    height: 40%;
    background: hotpink;
    @media (max-width: 900px) {
        height: 30%;
    }
    @media (max-width: 375px) {
        height: 20%;
    }
    
}

.carousel, 
.slide {
    width: 100%;
    height: 100%;
    & .carousel-inner {
        width: 100%;
        height: 100%;
        & .carousel-item, 
          .active {
            width: 100%;
            height: 100%;
            
        }

    }
}

.project-theyalow {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    & .show-panel {
        width: 40%;
        height: 10%;
        display: none;
        @media (max-width: 375px) {
            visibility: visible;
        }
    }
    & .image {
        display: block;
        width: 40%;
        height: 90%;
        background: url(../portfolio/assets/images/THEYALOW\ Desktop.jpg) center no-repeat;
        background-size: contain;
    }
    & .description {
        width: 35%;
        height: 100%;
        background: gray;
    }
    }
.project-repair{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    & .image {
            display: block;
            width: 60%;
            background: url(../portfolio/assets/images/repair-design-project.png) center no-repeat;
            background-size: contain;
    }
    & .description {
            width: 35%;
            background: green;
    }
}